.article {
    position: relative;
    text-align: center;
}

.article img {
    display: block;
}

.image-container {
    position: relative;
  }
  
  .image-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(to top, rgba(83, 83, 83, 0.7) 20%, rgba(100, 100, 100, 0.3));
  }

.article-slide__title {
    font-family: 'Trispace', sans-serif;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
    color: white;
    margin: 0;
    width: 100%;
}

.article-details {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: white;
    /* text-shadow: 1px 1px black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.article-author {
    margin-right: 10px;
}

.article-like {
    display: flex;
    align-items: center;
}

.likes {
    margin-right: 1rem;
}

.likes:before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.2rem;
  }